.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
   
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 5vw;
  }
  }