.product-preview{
  .flexbox-container-column{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
  
    .specification-table{
      width: 400px;
    }
    .flexbox-container-row{
    
    
      display: flex;
      
      flex-direction: column;
      .item-header{
        margin-left: 10px;
        .size{
          margin-right: 10%;
         
        }
  
      }
  
    }
    .specification-table{
      width:80%
    }
  }

}
