.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 5px 5px 1px lightgrey;
  background-color: white;

  .logo-container {
    height: 1px;
    width: 1px;
    padding: 50px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 70px;
    font-family: Arial, Helvetica, sans-serif;

    .option {
      padding: 10px 15px;
    }
  }
}
